You will use the values of what you find in this assignment to answer questions in the quiz that follows. You may want to open this notebook to be displayed side-by-side on screen with this next quiz.

1. Write a function that inputs an integers and returns the negative

In [1]:
def transform_int(val):
    return val * -1

In [2]:
# Test your function with input x
x = 4
transform_int(x)

-4

2. Write a function that inputs a list of integers and returns the minimum value

In [3]:
# Write your function here
def get_min_value(lst):
    return min(lst)

In [4]:
# Test your function with input lst
lst = [-3, 0, 2, 100, -1, 2]
get_min_value(lst)

# Create you own input list to test with
lst = [-2, 0, 1, 90, -1, 2]
get_min_value(lst)

-2

#### Challenge problem:  
Write a function that take in four arguments: lst1, lst2, str1, str2, and returns a pandas DataFrame that has the first column labeled str1 and the second column labaled str2, that have values lst1 and lst2 scaled to be between 0 and 1.

For example
```
lst1 = [1, 2, 3]
lst2 = [2, 4, 5]
str1 = 'one'
str2 = 'two'

my_function(lst1, lst2, str1, str2)
``` 
should return a DataFrame that looks like:



|  <i></i> | one | two |
| --- | --- | --- |
| 0 | 0 | 0 |
| 1 | .5 | .666 |
| 2 | 1 | 1 |

In [5]:
def temp_func(lst_1, lst_2, str_1, str_2):
    lst_1=lst_1/sum(lst_1)
    lst_2=lst_2/sum(lst_2)
    
    df=pd.DataFrame(list(zip(lst_1, lst_2)), 
               columns =[str_1, str_2])
    
    return df

In [6]:
# test your challenge problem function
import numpy as np
import pandas as pd

lst1 = np.random.randint(-234, 938, 100)
lst2 = np.random.randint(-522, 123, 100)
str1 = 'one'
str2 = 'alpha'

temp_func(lst1, lst2, str1, str2)

         one     alpha
0  -0.000969  0.023053
1  -0.003276  0.023945
2   0.003544  0.012113
3   0.008959 -0.001362
4  -0.004914  0.020658
5   0.002240  0.020893
6   0.022499  0.021456
7   0.003510  0.013099
8   0.017852  0.016667
9   0.003209  0.023194
10  0.001036  0.003427
11  0.027413  0.011925
12  0.017350  0.023475
13  0.002674 -0.003099
14  0.001772 -0.003099
15  0.029251  0.016855
16  0.004179  0.008404
17  0.013238 -0.004132
18 -0.006653  0.020189
19  0.022565 -0.001972
20  0.024471 -0.000235
21  0.018253  0.022114
22 -0.002340  0.017184
23  0.028182  0.019954
24 -0.003544  0.021316
25  0.016815  0.016292
26  0.010798  0.004366
27 -0.000735  0.000563
28 -0.002006 -0.001174
29 -0.005750  0.003521
..       ...       ...
70  0.006820 -0.001455
71  0.001003  0.001268
72  0.011467  0.015681
73  0.024237  0.014930
74  0.021696 -0.001502
75 -0.002073  0.009578
76 -0.005416  0.019344
77  0.005650  0.000235
78  0.014910  0.023381
79  0.002808  0.021832
80  0.029920 -0.002207
81  0.020225 -0.004273
82  0.029853  0.012301
83 -0.007020 -0.001596
84  0.021061  0.004179
85  0.015378  0.012160
86  0.023368  0.022255
87  0.014442  0.001127
88  0.006753  0.010470
89  0.028750  0.010470
90  0.003042  0.001596
91  0.010564 -0.002582
92  0.004045  0.022255
93  0.029352 -0.000892
94  0.002608  0.007183
95  0.015579  0.021503
96  0.014676 -0.004413
97  0.006218  0.003521
98  0.005215  0.020752
99  0.028984  0.016714

[100 rows x 2 columns]